*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-family: "Permanent Marker", cursive;
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background: #136a8a; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #267871,
    #136a8a
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #267871,
    #136a8a
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.header {
  width: 100%;
  margin: 2.5rem auto;
}

h1 {
  font-size: 10rem;
  text-align: center;
}

p {
  font-size: 5rem;
  text-align: center;
}

.grid-container {
  width: 600px;
  height: 600px;
  margin: 0 auto;
  background-color: #34495e;
  color: #fff;
  border: 6px solid #2c3e50;
  border-radius: 10px;

  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.q {
  border: 6px solid #2c3e50;
  border-radius: 2px;
  font-weight: bold;
  font-size: 10em;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.q:hover {
  background: #502c3e;
}

.winner {
    color: #3b8a54;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 5rem;
    text-align: center;
  }

  p {
    font-size: 3rem;
    text-align: center;
  }

  .grid-container {
    width: 330px;
    height: 330px;
    margin: 5rem auto;
  }

  .q {
    font-size: 5em;
  }
}
