*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-family: "Permanent Marker", cursive;
  font-size: 62.5%;
  color: #fff;
}

body {
  box-sizing: border-box;
  background: #136a8a; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #267871,
    #136a8a
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #267871,
    #136a8a
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.topnav {
  overflow: hidden;
  background-color: transparent;
}

/* .topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 1.4rem 1.6rem;
  text-decoration: none;
  font-size: 1.7rem;
}

.topnav a:hover {
  background-color: rgba(221, 221, 221, 0.2);
  color: black;
} */

.header {
  width: 100%;
  margin: 0 auto 1.5rem auto;
}

h1 {
  font-size: 8rem;
  text-align: center;
  letter-spacing: 10px;

  animation: moveInLeft 1s ease-out;
}

p {
  font-size: 4rem;
  text-align: center;
  letter-spacing: 10px;

  animation: moveInRight 1s ease-out;
}

.choose {
  max-width: 600px;
  margin: .5rem auto;
  text-align: center;
}

button {
  font-family: inherit;
  font-size: 1.6rem;
  border: none;
  border-radius: 5px;
  margin: .5rem;
  width: 30rem;
  background: transparent;
  padding: 1rem 0;
  transition: all 0.2s;
}

button:hover {
  background: #355664;
  box-shadow: 10px 10px 14px -4px rgba(0, 0, 0, 0.75);
  transform: translateY(-3px);
  color:#fff;
}

button:active,
button:focus {
  outline: none;
  transform: translateY(-1.5px);
}

.grid-container {
  width: 600px;
  height: 600px;
  margin: 0 auto 2rem auto;
  background-color: #34495e;
  color: #fff;
  border: 6px solid #2c3e50;
  border-radius: 10px;
  cursor: pointer;

  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  animation: moveInBottom 1s ease-out;
}

.q {
  border: 6px solid #2c3e50;
  border-radius: 2px;
  font-weight: bold;
  font-size: 10em;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.q:hover {
  background: #502c3e;
}

.winner {
  color: #3b8a54;
}

@media only screen and (max-width: 600px) {
  .header {
    width: 100%;
    margin: 0;
  }

  h1 {
    font-size: 5rem;
    text-align: center;
  }

  p {
    font-size: 3rem;
    text-align: center;
  }

  .choose {
    margin: 1.5rem auto;
  }

  .grid-container {
    width: 330px;
    height: 330px;
    margin: 2rem auto;
  }

  .q {
    font-size: 5em;
  }
}

/*  Animations */

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  80% {
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  80% {
    transform: translateX(-1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(9rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
